*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// global variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Playfair Display', serif;
p{
    line-height: 1.5!important;
}


header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    nav{
        width: 100%;
        padding: 25px 400px 25px 0;
        background-color: #1a1a1a6b;
        backdrop-filter: blur(8px);
        font-family: $primary-font;
        position: fixed;
        z-index: 99999;
        ul{
            list-style-type: none;
            display: flex;
            justify-content: end;
        }li{
            margin-left: 15px;
        }a{
            text-decoration: none;
            color: #fff;
            transition: .2s;
            &:hover{
                color: #d0d0d0;
            }
        }
    }
}

    .header-items{
        margin: 0 auto;
        text-align: left;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 400px;
        transform: translateY(-50%);
        .serif{
            color: #fff;
            font-size: 41.89px;
            font-family: $secondary-font;
        }
        .title{
            color: #fff;
            font-size: 67.77px;
            font-family: $primary-font;
        }
        .opening-text{
            color: #fff;
            font-size: 25.89px;
            letter-spacing: 2.4px;
            font-family: $primary-font;
        }
    }

    @media only screen and (max-width: 1450px){
        .header-items{
            left: 175px;
        }

        header nav{
            padding: 25px 175px 25px 0;
        }
    }

    @media only screen and (max-width: 1160px){
        header nav{
            padding-right: 0px;
        }
        header nav ul{
            padding: 0;
            justify-content: center;
            text-align: center;
        }

        header nav ul li{
            margin: 0 10px;
        }
        .header-items{
            left: 100px;
            .serif{
                color: #fff;
                font-size: 25.89px;
                font-family: $secondary-font;
            }
            .title{
                color: #fff;
                font-size: 47.77px;
                font-family: $primary-font;
            }
            .opening-text{
                color: #fff;
                font-size: 16.89px;
                letter-spacing: 2.4px;
                font-family: $primary-font;
            }
        }
    }
    @media only screen and (max-width: 548px){
        header{
            background-position:center;
            background-position-x: -600px;
        }
        header nav{
            padding-right: 0;
        }
        header nav ul{
            padding-right: 0;

        }
        header nav ul li a{
            font-size: 12px;
        }
        .header-items{
            left: 50px;
            .serif{
                color: #fff;
                font-size: 25.89px;
                font-family: $secondary-font;
            }
            .title{
                color: #fff;
                font-size: 47.77px;
                font-family: $primary-font;
            }
            .opening-text{
                color: #fff;
                font-size: 16.89px;
                letter-spacing: 2.4px;
                font-family: $primary-font;
            }
        }
    }

    // INTRODUCTION

    #intro{
        width: 100%;
        padding: 60px 0;
        .container{
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            height: auto;
            align-items: center;
            justify-content: space-between;
            .box{
                max-width: 600px;
                display: block;
                .content-title{
                    font-size: 2.9rem;
                    color: #0000003a;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    margin-top: 20px;
                    font-family: $secondary-font;
                    
                }
                .text{
                    color: #1A1A1A;
                    font-family: $primary-font;
                    padding-right: 2rem;
                }
                .source{
                    color: #616161;
                    text-decoration: none;
                }&:hover{
                    color: #1A1A1A;
                }
            }
        }
    }

    @media only screen and (max-width: 1160px){
        #intro{
            .container{
                display: block;
                width: 500px;
                .box{
                    .content-title{
                        font-size: 2rem;
                        color: #0000003a;
                        font-weight: 700;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        font-family: $secondary-font;
                        
                    }
                    .text{
                        color: #1A1A1A;
                        font-family: $primary-font;
                        padding-right: 0rem;
                        font-size: 13px;
                        margin-bottom: 20px;
                    }
                    .source{
                        color: #616161;
                        text-decoration: none;
                        font-size: 11px;
                    }&:hover{
                        color: #1A1A1A;
                    }
                }
            }
        } 
    }

    @media only screen and (max-width: 548px){
        #intro{
            .container{
                display: block;
                width: 360px;
        } 
        }
    }

    #quote{
        width: 100%;
        padding: 60px 0;
        background: #F1F1F1;
        position: relative;
        .quote{
            width: 640px;
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
            color: #1A1A1A;
            font-family: $primary-font;
            padding-right: 2rem;
            padding: 0;
        }
        i{
            position: absolute;
            top: 20px;
            left: 30%;
            font-size: 7rem;
            z-index: 0;
            color: #3d3d3d0a;
        }
    }

    @media only screen and (max-width: 680px){
        #quote{
            .quote{
                width: 500px;
                font-size: 15px;
                margin: 0 auto;
                text-align: center;
                color: #1A1A1A;
                font-family: $primary-font;
                padding-right: 2rem;
                padding: 0;
            }
            i{
                position: absolute;
                top: 40px;
                left: 15%;
                font-size: 4rem;
                z-index: 0;
                color: #3d3d3d0a;
            }
        }
    }

    @media only screen and (max-width: 548px){
        #quote{
            .quote{
                width: 360px;
                font-size: 15px;
                margin: 0 auto;
                text-align: center;
                color: #1A1A1A;
                font-family: $primary-font;
                padding-right: 2rem;
                padding: 0;
                text-align: justify;
            }
            i{
                position: absolute;
                top: 40px;
                left: 15%;
                font-size: 4rem;
                z-index: 0;
                color: #3d3d3d0a;
            }
        }
    }

    //EARLY LIFE

    #early-life{
        width: 100%;
        padding: 60px 0;
        .container{
            max-width: 1120px;
            margin: 0 auto;
            display: block;
            .content-title{
                font-size: 2.9rem;
                color: #0000003a;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: 20px;
                font-family: $secondary-font;
            }
            .content-container{
                display: flex;
                .articles{
                    width: 799px;
                    margin: 0 auto;
                    .article{
                        padding: 0px 0 90px;
                        .source{
                            color: #616161;
                            text-decoration: none;
                        }&:hover{
                            color: #1A1A1A;
                        }.text{
                            color: #1A1A1A;
                            font-family: $primary-font;
                            margin-top: 1rem;
                    }
                    }
                }
            }
            .verticle-elipsis{
                display: flex;
                flex-direction: column;
                .one{
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    margin-bottom: 20px;
                    background: #959595;
                }
                .two{
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    margin-bottom: 20px;
                    background: #616161; 
                }
                .three{
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    background: #1A1A1A;
                }
            }
        }
    }

    @media only screen and (max-width: 1160px){
        #early-life{
        .container{
            max-width: 500px;
            margin: 0 auto;
            display: block;
            .content-title{
                font-size: 2.9rem;
                color: #0000003a;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: 20px;
                font-family: $secondary-font;
            }
            .content-container{
                display: flex;
                .articles{
                    width: 100%;
                    margin: 0 auto;
                    .article{
                        padding: 0px 0 40px;
                        .source{
                            color: #616161;
                            text-decoration: none;
                            font-size: 11px;
                        }&:hover{
                            color: #1A1A1A;
                        }.text{
                            color: #1A1A1A;
                            font-family: $primary-font;
                            margin-top: 1rem;
                            font-size: 13px;
                    }
                    }
                }
            }
            .verticle-elipsis{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 548px){
    #early-life{
        .container{
            max-width: 360px;
            margin: 0 auto;
            display: block;
            .content-title{
                font-size: 2.9rem;
                color: #0000003a;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: 20px;
                font-family: $secondary-font;
            }
            .content-container{
                display: flex;
                .articles{
                    width: 100%;
                    margin: 0 auto;
                    .article{
                        padding: 0px 0 40px;
                        .source{
                            color: #616161;
                            text-decoration: none;
                            font-size: 11px;
                        }&:hover{
                            color: #1A1A1A;
                        }.text{
                            color: #1A1A1A;
                            font-family: $primary-font;
                            margin-top: 1rem;
                            font-size: 13px;
                    }
                    }
                }
            }
            .verticle-elipsis{
                display: none;
            }
        }
    }
}

// ADULT LIFE

#adult-life{
    width: 100%;
    padding: 60px 0;
    background-color: #482FF7;
    max-height: 75vh;
    .container{
        max-width: 1120px;
        margin: 0 auto;
        .content-title{
            font-size: 2.9rem;
            color: #ffffff52;
            font-weight: 700;
            margin-bottom: 2rem;
            margin-top: 20px;
            font-family: $secondary-font;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            .box{
                width: 50%;
                .text{
                    color: #fff;
                    font-family: $primary-font;
                    margin-bottom: 2rem;
                    padding-right: 4rem;
                }
                img{
                    overflow: visible;
                    height: 725px;
                }
                .source{
                    color: #616161;
                    text-decoration: none;
                }
            }
        }

    }
}

// QUOTE DIVIDE

#quote-divide{
    width: 100%;
    padding: 60px 0;
    .container{
        width: 1120px;
        margin: 0 auto;
        position: relative;
        z-index: -9999;
        .quote{
            color: #1A1A1A;
            font-family: $primary-font;
            width: 500px;
        }
        i{
            position: absolute;
            top: -50px;
            left: 0;
            font-size: 7rem;
            z-index: 0;
            color: #3d3d3d13;
        }
    }
}


@media only screen and (max-width: 1160px){
    #adult-life{
        width: 100%;
        padding: 60px 0;
        background-color: #482FF7;
        max-height: inherit;
        .container{
            max-width: 500px;
            margin: 0 auto;
            .content-title{
                font-size: 2.9rem;
                color: #ffffff52;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: 20px;
                font-family: $secondary-font;
            }
            .flex-container{
                display: block;
                justify-content: space-between;
                .box{
                    width: 100%;
                    .text{
                        color: #fff;
                        font-family: $primary-font;
                        margin-bottom: 2rem;
                        padding-right: 0rem;
                    }
                    img{
                        overflow: visible;
                        width: 100%;
                        height: auto;
                    }
                    .source{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
    
        }
    }

    #quote-divide{
        width: 100%;
        padding: 60px 0;
        .container{
            width: 500px;
            margin: 0 auto;
            position: relative;
            .quote{
                color: #1A1A1A;
                font-family: $primary-font;
                width: 500px;
            }
            i{
                position: absolute;
                top: -50px;
                left: 0;
                font-size: 7rem;
                z-index: 0;
                color: #3d3d3d13;
            }
        }
    }
}



@media only screen and (max-width: 548px){
    #adult-life{
        width: 100%;
        padding: 60px 0;
        background-color: #482FF7;
        max-height: inherit;
        .container{
            max-width: 360px;
            margin: 0 auto;
            .content-title{
                font-size: 2.9rem;
                color: #ffffff52;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: 20px;
                font-family: $secondary-font;
            }
            .flex-container{
                display: block;
                justify-content: space-between;
                .box{
                    width: 100%;
                    .text{
                        color: #fff;
                        font-family: $primary-font;
                        margin-bottom: 2rem;
                        padding-right: 0rem;
                    }
                    img{
                        overflow: visible;
                        width: 100%;
                    }
                    .source{
                        color: #fff;
                        text-decoration: none;
                       font-size: 11px;
                    }
                }
            }
    
        }
    }

    #quote-divide{
        width: 100%;
        padding: 60px 0;
        .container{
            width: 360px;
            margin: 0 auto;
            position: relative;
            .quote{
                color: #1A1A1A;
                font-family: $primary-font;
                width: 360px;
                text-align: justify;
            }
            i{
                position: absolute;
                top: -50px;
                left: 0;
                font-size: 7rem;
                z-index: 0;
                color: #3d3d3d13;
            }
        }
    }
}

#inventions{
    width: 100%;
    padding: 60px 0;
    background-color: #F1F1F1;
    .container{
        width: 1120px;
        margin: 0 auto;
        .content-title{
            font-size: 2.9rem;
            color: #0000003a;
            font-weight: 700;
            margin-bottom: 2rem;
            margin-top: 20px;
            font-family: $secondary-font;
        }
        .flex-container{
            width: 100%;
            .row{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 2rem;
                .box{
                    width: 700px;
                    .text{
                        color: #1A1A1A;
                        font-family: $primary-font;
                        padding-right: 2rem;
                    }
                }
                .block{
                    width: 300px;
                    height: 100%;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    box-shadow: 0px 10px 10px 1px #1a1a1a2a;
                    border-radius: 4px;
                    margin-bottom: 2rem;
                    text-align: center;
                    padding: .5rem 2rem;
                    .number{
                        width: 50px;
                        height: 50px;
                        box-shadow: 0px 10px 13px 1px #1a1a1a2a;
                        position: absolute;
                        top: -25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #fff;
                        border-radius: 100px;
                        font-size: 2rem;
                    }
                    .date{
                        font-size: 1.3rem;
                        margin: 3rem 0 1rem;
                        font-weight: 700;
                        font-family: $secondary-font;
                    }
                    .text{
                        font-family: $secondary-font;
                        font-weight: 700;
                        font-size: 1rem;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1160px){
    #inventions{
        width: 100%;
        padding: 60px 0;
        background-color: #F1F1F1;
        .container{
            width: 500px;
            margin: 0 auto;
            .content-title{
                font-size: 2.9rem;
                color: #0000003a;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: -20px;
                font-family: $secondary-font;
            }
            .flex-container{
                width: 100%;
                .row{
                    display: block;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 2rem;
                    .box{
                        width: 100%;
                        .text{
                            color: #1A1A1A;
                            font-family: $primary-font;
                            padding: 0px;
                            margin-bottom: 3rem;
                        }
                    }
                    .block{
                        width: 100%;
                        margin: 0 auto;
                        height: 100%;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        box-shadow: 0px 10px 10px 1px #1a1a1a2a;
                        border-radius: 4px;
                        margin-bottom: 3rem;
                        text-align: center;
                        padding: .5rem 2rem;
                        .number{
                            width: 50px;
                            height: 50px;
                            box-shadow: 0px 10px 13px 1px #1a1a1a2a;
                            position: absolute;
                            top: -25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #fff;
                            border-radius: 100px;
                            font-size: 2rem;
                        }
                        .date{
                            font-size: 1.3rem;
                            margin: 3rem 0 1rem;
                            font-weight: 700;
                            font-family: $secondary-font;
                        }
                        .text{
                            font-family: $secondary-font;
                            font-weight: 700;
                            font-size: 1rem;
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 547px){
    #inventions{
        width: 100%;
        padding: 60px 0;
        background-color: #F1F1F1;
        .container{
            width: 360px;
            margin: 0 auto;
            .content-title{
                font-size: 2.9rem;
                color: #0000003a;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: -20px;
                font-family: $secondary-font;
            }
            .flex-container{
                width: 100%;
                .row{
                    display: flex;
                    flex-direction: column-reverse;
                    width: 100%;
                    margin-bottom: 2rem;
                    .box{
                        width: 100%;
                        .text{
                            color: #1A1A1A;
                            font-family: $primary-font;
                            padding: 0px;
                            margin-bottom: 3rem;
                        }
                    }
                    .block{
                        width: 100%;
                        margin: 0 auto;
                        height: 100%;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        box-shadow: 0px 10px 10px 1px #1a1a1a2a;
                        border-radius: 4px;
                        margin-bottom: 3rem;
                        text-align: center;
                        padding: .5rem 2rem;
                        .number{
                            width: 50px;
                            height: 50px;
                            box-shadow: 0px 10px 13px 1px #1a1a1a2a;
                            position: absolute;
                            top: -25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #fff;
                            border-radius: 100px;
                            font-size: 2rem;
                        }
                        .date{
                            font-size: 1.3rem;
                            margin: 3rem 0 1rem;
                            font-weight: 700;
                            font-family: $secondary-font;
                        }
                        .text{
                            font-family: $secondary-font;
                            font-weight: 700;
                            font-size: 1rem;
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
    }
}

#communication{
    width: 100%;
    padding: 60px;
    .container{
        width: 1120px;
        margin: 0 auto;
       .content-title{
        font-size: 2.9rem;
        color: #0000003a;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 20px;
        font-family: $secondary-font;
       } 
       .flex-container{
           display: flex;
           align-items: center;
           justify-content: space-between;
           .box{
               width: 50%;
               .text{
                   padding-left: 2rem;
                   color: #1A1A1A;
                   font-family: $primary-font;
                   margin-bottom: 2rem;
                   line-height: 1.5;
               }
               .source{
                color: #616161;
                text-decoration: none;
            }&:hover{
                color: #1A1A1A;
            }
           }
       }
    }
}

@media only screen and (max-width: 1160px){
    #communication{
        width: 100%;
        padding: 60px 0;
        .container{
            width: 500px;
            margin: 0 auto;
           .content-title{
            font-size: 2.9rem;
            color: #0000003a;
            font-weight: 700;
            margin-bottom: 2rem;
            margin-top: 20px;
            font-family: $secondary-font;
           } 
           .flex-container{
               display: block;
               .box{
                   width: 100%;
                   .text{
                       padding-left: 0rem;
                       color: #1A1A1A;
                       font-family: $primary-font;
                       margin-bottom: 2rem;
                       line-height: 1.5;
                   }
                   .source{
                    color: #616161;
                    text-decoration: none;
                    margin-bottom: 2rem;
                    display: block;
                }&:hover{
                    color: #1A1A1A;
                }
               }
           }
        }
    }
}

@media only screen and (max-width: 548px){
    #communication{
        width: 100%;
        padding: 60px 0;
        .container{
            width: 360px;
            margin: 0 auto;
           .content-title{
            font-size: 2.6rem;
            color: #0000003a;
            font-weight: 700;
            margin-bottom: 2rem;
            margin-top: 20px;
            font-family: $secondary-font;
            br{
                display: none;
            }
           } 
           .flex-container{
               display: block;
               .box{
                   width: 100%;
                   .text{
                       padding-left: 0rem;
                       color: #1A1A1A;
                       font-family: $primary-font;
                       margin-bottom: 2rem;
                       line-height: 1.5;
                   }
                   .source{
                    color: #616161;
                    text-decoration: none;
                    margin-bottom: 2rem;
                    display: block;
                }&:hover{
                    color: #1A1A1A;
                }
               }
           }
        }
    }
}

#personal-life{
    width: 100%;
    padding: 60px 0;
    background-color: #482FF7;
    .container{
        width: 1120px;
        margin: 0 auto;
        .content-title{
            font-size: 2.9rem;
            color: #ffffff52;
            font-weight: 700;
            margin-bottom: 2rem;
            margin-top: 20px;
            font-family: $secondary-font;
        }

        .row{
            width: 100%;
            margin-bottom: 2rem;
        }
        .content{
            background-color: #533AFF;
            width: 100%;
            color: #fff;
            padding: 2rem;
            font-family: $primary-font;
            line-height: 1.5;
        }
    }
}

@media only screen and (max-width: 1160px){
    #personal-life{
        width: 100%;
        padding: 60px 0;
        background-color: #482FF7;
        .container{
            width: 500px;
            margin: 0 auto;
            .content-title{
                font-size: 2.9rem;
                color: #ffffff52;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: 20px;
                font-family: $secondary-font;
            }
    
            .row{
                width: 100%;
                margin-bottom: 2rem;
            }
            .content{
                background-color: #533AFF;
                width: 100%;
                color: #fff;
                padding: 2rem;
                font-family: $primary-font;
                line-height: 1.5;
            }
        }
    }
}

@media only screen and (max-width: 548px){
    #personal-life{
        width: 100%;
        padding: 60px 0;
        background-color: #482FF7;
        .container{
            width: 360px;
            margin: 0 auto;
            .content-title{
                font-size: 2.9rem;
                color: #ffffff52;
                font-weight: 700;
                margin-bottom: 2rem;
                margin-top: 20px;
                font-family: $secondary-font;
            }
    
            .row{
                width: 100%;
                margin-bottom: 2rem;
            }
            .content{
                background-color: #533AFF;
                width: 100%;
                color: #fff;
                padding: 2rem;
                font-family: $primary-font;
                line-height: 1.5;
            }
        }
    }
}

#conclusion{
    width: 100%;
    padding: 60px 0;
    .container{
        width: 850px;
        margin: 0 auto;
        border-left: 2px solid rgba(0, 0, 0, 0.145);
        border-right: 2px solid rgba(0, 0, 0, 0.145);
        padding: 0 40px;
        .text{
            text-align: justify;
            font-family: $primary-font;
            line-height: 1.5;
        }
    }
}

@media only screen and (max-width: 1160px){
    #conclusion{
        width: 100%;
        padding: 60px 0;
        .container{
            width: 500px;
            margin: 0 auto;
            .text{
                text-align: justify;
                font-family: $primary-font;
                line-height: 1.5;
            }
        }
    }
    
}

@media only screen and (max-width: 548px){
    #conclusion{
        width: 100%;
        padding: 60px 0;
        .container{
            width: 360px;
            margin: 0 auto;
            border: none;
            padding: 0;
            .text{
                text-align: justify;
                font-family: $primary-font;
                line-height: 1.5;
                
            }
        }
    }
}

#bibliography{
    width: 100%;
    padding: 60px 0;
    background-color: #F1F1F1;
    .container{
        width: 1120px;
        margin: 0 auto;
        ol{
            text-align: center;
            list-style-type: none;
            li{
                font-family: $primary-font;
                line-height: 1.5;
                margin-bottom: .9rem;
                font-size: .7rem;
                word-break: break-all;
            }
        }
    }
}

@media only screen and (max-width: 1160px){
    #bibliography{
        width: 100%;
        padding: 60px 0;
        background-color: #F1F1F1;
        .container{
            width: 500px;
            margin: 0 auto;
            li{
                font-family: $primary-font;
                line-height: 1.5;
                margin-bottom: .5rem;
                font-size: .7rem;
            }
        }
    }
}

@media only screen and (max-width: 548px){
    #bibliography{
        width: 100%;
        padding: 60px 0;
        background-color: #F1F1F1;
        .container{
            width: 360px;
            margin: 0 auto;
            li{
                font-family: $primary-font;
                line-height: 1.5;
                margin-bottom: .5rem;
                font-size: 7px;
                width: 100%;
            }
        }
    }
}

footer{
    width: 100%;
    padding: 20px 0;
    background-color: #482FF7;
    text-align: center;
    font-family: $primary-font;
    color: #fff;
    a{
        color: #fff;
        font-family: $primary-font;
        padding-bottom: 2px;
        text-underline-offset: 2px;
        &:hover{
            text-decoration: none;
        }
    }
}

@media only screen and (max-height: 930px){
    #adult-life{
        width: 100%;
        padding: 60px 0;
        background-color: #482FF7;
        min-height: 95vh;
    }
}
