* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  line-height: 1.5 !important;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  width: 100%;
  padding: 25px 400px 25px 0;
  background-color: #1a1a1a6b;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 99999;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav li {
  margin-left: 15px;
}

header nav a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav a:hover {
  color: #d0d0d0;
}

.header-items {
  margin: 0 auto;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 400px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-items .serif {
  color: #fff;
  font-size: 41.89px;
  font-family: "Playfair Display", serif;
}

.header-items .title {
  color: #fff;
  font-size: 67.77px;
  font-family: "Montserrat", sans-serif;
}

.header-items .opening-text {
  color: #fff;
  font-size: 25.89px;
  letter-spacing: 2.4px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1450px) {
  .header-items {
    left: 175px;
  }
  header nav {
    padding: 25px 175px 25px 0;
  }
}

@media only screen and (max-width: 1160px) {
  header nav {
    padding-right: 0px;
  }
  header nav ul {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header nav ul li {
    margin: 0 10px;
  }
  .header-items {
    left: 100px;
  }
  .header-items .serif {
    color: #fff;
    font-size: 25.89px;
    font-family: "Playfair Display", serif;
  }
  .header-items .title {
    color: #fff;
    font-size: 47.77px;
    font-family: "Montserrat", sans-serif;
  }
  .header-items .opening-text {
    color: #fff;
    font-size: 16.89px;
    letter-spacing: 2.4px;
    font-family: "Montserrat", sans-serif;
  }
}

@media only screen and (max-width: 548px) {
  header {
    background-position: center;
    background-position-x: -600px;
  }
  header nav {
    padding-right: 0;
  }
  header nav ul {
    padding-right: 0;
  }
  header nav ul li a {
    font-size: 12px;
  }
  .header-items {
    left: 50px;
  }
  .header-items .serif {
    color: #fff;
    font-size: 25.89px;
    font-family: "Playfair Display", serif;
  }
  .header-items .title {
    color: #fff;
    font-size: 47.77px;
    font-family: "Montserrat", sans-serif;
  }
  .header-items .opening-text {
    color: #fff;
    font-size: 16.89px;
    letter-spacing: 2.4px;
    font-family: "Montserrat", sans-serif;
  }
}

#intro {
  width: 100%;
  padding: 60px 0;
}

#intro .container {
  max-width: 1120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#intro .container .box {
  max-width: 600px;
  display: block;
}

#intro .container .box .content-title {
  font-size: 2.9rem;
  color: #0000003a;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

#intro .container .box .text {
  color: #1A1A1A;
  font-family: "Montserrat", sans-serif;
  padding-right: 2rem;
}

#intro .container .box .source {
  color: #616161;
  text-decoration: none;
}

#intro .container .box:hover {
  color: #1A1A1A;
}

@media only screen and (max-width: 1160px) {
  #intro .container {
    display: block;
    width: 500px;
  }
  #intro .container .box .content-title {
    font-size: 2rem;
    color: #0000003a;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #intro .container .box .text {
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    padding-right: 0rem;
    font-size: 16px;
    margin-bottom: 20px;
  }
  #intro .container .box .source {
    color: #616161;
    text-decoration: none;
    font-size: 11px;
  }
  #intro .container .box:hover {
    color: #1A1A1A;
  }
}

@media only screen and (max-width: 548px) {
  #intro .container {
    display: block;
    width: 360px;
  }
}

#quote {
  width: 100%;
  padding: 60px 0;
  background: #F1F1F1;
  position: relative;
}

#quote .quote {
  width: 640px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  color: #1A1A1A;
  font-family: "Montserrat", sans-serif;
  padding-right: 2rem;
  padding: 0;
}

#quote i {
  position: absolute;
  top: 20px;
  left: 30%;
  font-size: 7rem;
  z-index: 0;
  color: #3d3d3d0a;
}

@media only screen and (max-width: 680px) {
  #quote .quote {
    width: 500px;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    padding-right: 2rem;
    padding: 0;
  }
  #quote i {
    position: absolute;
    top: 40px;
    left: 15%;
    font-size: 4rem;
    z-index: 0;
    color: #3d3d3d0a;
  }
}

@media only screen and (max-width: 548px) {
  #quote .quote {
    width: 360px;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    padding-right: 2rem;
    padding: 0;
    text-align: justify;
  }
  #quote i {
    position: absolute;
    top: 40px;
    left: 15%;
    font-size: 4rem;
    z-index: 0;
    color: #3d3d3d0a;
  }
}

#early-life {
  width: 100%;
  padding: 60px 0;
}

#early-life .container {
  max-width: 1120px;
  margin: 0 auto;
  display: block;
}

#early-life .container .content-title {
  font-size: 2.9rem;
  color: #0000003a;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

#early-life .container .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#early-life .container .content-container .articles {
  width: 799px;
  margin: 0 auto;
}

#early-life .container .content-container .articles .article {
  padding: 0px 0 90px;
}

#early-life .container .content-container .articles .article .source {
  color: #616161;
  text-decoration: none;
}

#early-life .container .content-container .articles .article:hover {
  color: #1A1A1A;
}

#early-life .container .content-container .articles .article .text {
  color: #1A1A1A;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
}

#early-life .container .verticle-elipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#early-life .container .verticle-elipsis .one {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-bottom: 20px;
  background: #959595;
}

#early-life .container .verticle-elipsis .two {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-bottom: 20px;
  background: #616161;
}

#early-life .container .verticle-elipsis .three {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #1A1A1A;
}

@media only screen and (max-width: 1160px) {
  #early-life .container {
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
  #early-life .container .content-title {
    font-size: 2.9rem;
    color: #0000003a;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #early-life .container .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #early-life .container .content-container .articles {
    width: 100%;
    margin: 0 auto;
  }
  #early-life .container .content-container .articles .article {
    padding: 0px 0 40px;
  }
  #early-life .container .content-container .articles .article .source {
    color: #616161;
    text-decoration: none;
    font-size: 11px;
  }
  #early-life .container .content-container .articles .article:hover {
    color: #1A1A1A;
  }
  #early-life .container .content-container .articles .article .text {
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
    font-size: 16px;
  }
  #early-life .container .verticle-elipsis {
    display: none;
  }
}

@media only screen and (max-width: 548px) {
  #early-life .container {
    max-width: 360px;
    margin: 0 auto;
    display: block;
  }
  #early-life .container .content-title {
    font-size: 2.9rem;
    color: #0000003a;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #early-life .container .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #early-life .container .content-container .articles {
    width: 100%;
    margin: 0 auto;
  }
  #early-life .container .content-container .articles .article {
    padding: 0px 0 40px;
  }
  #early-life .container .content-container .articles .article .source {
    color: #616161;
    text-decoration: none;
    font-size: 11px;
  }
  #early-life .container .content-container .articles .article:hover {
    color: #1A1A1A;
  }
  #early-life .container .content-container .articles .article .text {
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
    font-size: 16px;
  }
  #early-life .container .verticle-elipsis {
    display: none;
  }
}

#adult-life {
  width: 100%;
  padding: 60px 0;
  background-color: #482FF7;
  max-height: 75vh;
}

#adult-life .container {
  max-width: 1120px;
  margin: 0 auto;
}

#adult-life .container .content-title {
  font-size: 2.9rem;
  color: #ffffff52;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

#adult-life .container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#adult-life .container .flex-container .box {
  width: 50%;
}

#adult-life .container .flex-container .box .text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  padding-right: 4rem;
}

#adult-life .container .flex-container .box img {
  overflow: visible;
  height: 725px;
}

#adult-life .container .flex-container .box .source {
  color: #616161;
  text-decoration: none;
}

#quote-divide {
  width: 100%;
  padding: 60px 0;
}

#quote-divide .container {
  width: 1120px;
  margin: 0 auto;
  position: relative;
  z-index: -9999;
}

#quote-divide .container .quote {
  color: #1A1A1A;
  font-family: "Montserrat", sans-serif;
  width: 500px;
}

#quote-divide .container i {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 7rem;
  z-index: 0;
  color: #3d3d3d13;
}

@media only screen and (max-width: 1160px) {
  #adult-life {
    width: 100%;
    padding: 60px 0;
    background-color: #482FF7;
    max-height: inherit;
  }
  #adult-life .container {
    max-width: 500px;
    margin: 0 auto;
  }
  #adult-life .container .content-title {
    font-size: 2.9rem;
    color: #ffffff52;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #adult-life .container .flex-container {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #adult-life .container .flex-container .box {
    width: 100%;
  }
  #adult-life .container .flex-container .box .text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
    padding-right: 0rem;
  }
  #adult-life .container .flex-container .box img {
    overflow: visible;
    width: 100%;
    height: auto;
  }
  #adult-life .container .flex-container .box .source {
    color: #fff;
    text-decoration: none;
  }
  #quote-divide {
    width: 100%;
    padding: 60px 0;
  }
  #quote-divide .container {
    width: 500px;
    margin: 0 auto;
    position: relative;
  }
  #quote-divide .container .quote {
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    width: 500px;
  }
  #quote-divide .container i {
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 7rem;
    z-index: 0;
    color: #3d3d3d13;
  }
}

@media only screen and (max-width: 548px) {
  #adult-life {
    width: 100%;
    padding: 60px 0;
    background-color: #482FF7;
    max-height: inherit;
  }
  #adult-life .container {
    max-width: 360px;
    margin: 0 auto;
  }
  #adult-life .container .content-title {
    font-size: 2.9rem;
    color: #ffffff52;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #adult-life .container .flex-container {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #adult-life .container .flex-container .box {
    width: 100%;
  }
  #adult-life .container .flex-container .box .text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
    padding-right: 0rem;
  }
  #adult-life .container .flex-container .box img {
    overflow: visible;
    width: 100%;
  }
  #adult-life .container .flex-container .box .source {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
  }
  #quote-divide {
    width: 100%;
    padding: 60px 0;
  }
  #quote-divide .container {
    width: 360px;
    margin: 0 auto;
    position: relative;
  }
  #quote-divide .container .quote {
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    width: 360px;
    text-align: justify;
  }
  #quote-divide .container i {
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 7rem;
    z-index: 0;
    color: #3d3d3d13;
  }
}

#inventions {
  width: 100%;
  padding: 60px 0;
  background-color: #F1F1F1;
}

#inventions .container {
  width: 1120px;
  margin: 0 auto;
}

#inventions .container .content-title {
  font-size: 2.9rem;
  color: #0000003a;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

#inventions .container .flex-container {
  width: 100%;
}

#inventions .container .flex-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

#inventions .container .flex-container .row .box {
  width: 700px;
}

#inventions .container .flex-container .row .box .text {
  color: #1A1A1A;
  font-family: "Montserrat", sans-serif;
  padding-right: 2rem;
}

#inventions .container .flex-container .row .block {
  width: 300px;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0px 10px 10px 1px #1a1a1a2a;
          box-shadow: 0px 10px 10px 1px #1a1a1a2a;
  border-radius: 4px;
  margin-bottom: 2rem;
  text-align: center;
  padding: .5rem 2rem;
}

#inventions .container .flex-container .row .block .number {
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 10px 13px 1px #1a1a1a2a;
          box-shadow: 0px 10px 13px 1px #1a1a1a2a;
  position: absolute;
  top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 100px;
  font-size: 2rem;
}

#inventions .container .flex-container .row .block .date {
  font-size: 1.3rem;
  margin: 3rem 0 1rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

#inventions .container .flex-container .row .block .text {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1160px) {
  #inventions {
    width: 100%;
    padding: 60px 0;
    background-color: #F1F1F1;
  }
  #inventions .container {
    width: 500px;
    margin: 0 auto;
  }
  #inventions .container .content-title {
    font-size: 2.9rem;
    color: #0000003a;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: -20px;
    font-family: "Playfair Display", serif;
  }
  #inventions .container .flex-container {
    width: 100%;
  }
  #inventions .container .flex-container .row {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }
  #inventions .container .flex-container .row .box {
    width: 100%;
  }
  #inventions .container .flex-container .row .box .text {
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin-bottom: 3rem;
  }
  #inventions .container .flex-container .row .block {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-shadow: 0px 10px 10px 1px #1a1a1a2a;
            box-shadow: 0px 10px 10px 1px #1a1a1a2a;
    border-radius: 4px;
    margin-bottom: 3rem;
    text-align: center;
    padding: .5rem 2rem;
  }
  #inventions .container .flex-container .row .block .number {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 10px 13px 1px #1a1a1a2a;
            box-shadow: 0px 10px 13px 1px #1a1a1a2a;
    position: absolute;
    top: -25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 100px;
    font-size: 2rem;
  }
  #inventions .container .flex-container .row .block .date {
    font-size: 1.3rem;
    margin: 3rem 0 1rem;
    font-weight: 700;
    font-family: "Playfair Display", serif;
  }
  #inventions .container .flex-container .row .block .text {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 547px) {
  #inventions {
    width: 100%;
    padding: 60px 0;
    background-color: #F1F1F1;
  }
  #inventions .container {
    width: 360px;
    margin: 0 auto;
  }
  #inventions .container .content-title {
    font-size: 2.9rem;
    color: #0000003a;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: -20px;
    font-family: "Playfair Display", serif;
  }
  #inventions .container .flex-container {
    width: 100%;
  }
  #inventions .container .flex-container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 2rem;
  }
  #inventions .container .flex-container .row .box {
    width: 100%;
  }
  #inventions .container .flex-container .row .box .text {
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin-bottom: 3rem;
  }
  #inventions .container .flex-container .row .block {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-shadow: 0px 10px 10px 1px #1a1a1a2a;
            box-shadow: 0px 10px 10px 1px #1a1a1a2a;
    border-radius: 4px;
    margin-bottom: 3rem;
    text-align: center;
    padding: .5rem 2rem;
  }
  #inventions .container .flex-container .row .block .number {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 10px 13px 1px #1a1a1a2a;
            box-shadow: 0px 10px 13px 1px #1a1a1a2a;
    position: absolute;
    top: -25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 100px;
    font-size: 2rem;
  }
  #inventions .container .flex-container .row .block .date {
    font-size: 1.3rem;
    margin: 3rem 0 1rem;
    font-weight: 700;
    font-family: "Playfair Display", serif;
  }
  #inventions .container .flex-container .row .block .text {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

#communication {
  width: 100%;
  padding: 60px;
}

#communication .container {
  width: 1120px;
  margin: 0 auto;
}

#communication .container .content-title {
  font-size: 2.9rem;
  color: #0000003a;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

#communication .container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#communication .container .flex-container .box {
  width: 50%;
}

#communication .container .flex-container .box .text {
  padding-left: 2rem;
  color: #1A1A1A;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.5;
}

#communication .container .flex-container .box .source {
  color: #616161;
  text-decoration: none;
}

#communication .container .flex-container .box:hover {
  color: #1A1A1A;
}

@media only screen and (max-width: 1160px) {
  #communication {
    width: 100%;
    padding: 60px 0;
  }
  #communication .container {
    width: 500px;
    margin: 0 auto;
  }
  #communication .container .content-title {
    font-size: 2.9rem;
    color: #0000003a;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #communication .container .flex-container {
    display: block;
  }
  #communication .container .flex-container .box {
    width: 100%;
  }
  #communication .container .flex-container .box .text {
    padding-left: 0rem;
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
  #communication .container .flex-container .box .source {
    color: #616161;
    text-decoration: none;
    margin-bottom: 2rem;
    display: block;
  }
  #communication .container .flex-container .box:hover {
    color: #1A1A1A;
  }
}

@media only screen and (max-width: 548px) {
  #communication {
    width: 100%;
    padding: 60px 0;
  }
  #communication .container {
    width: 360px;
    margin: 0 auto;
  }
  #communication .container .content-title {
    font-size: 2.6rem;
    color: #0000003a;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #communication .container .content-title br {
    display: none;
  }
  #communication .container .flex-container {
    display: block;
  }
  #communication .container .flex-container .box {
    width: 100%;
  }
  #communication .container .flex-container .box .text {
    padding-left: 0rem;
    color: #1A1A1A;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
  #communication .container .flex-container .box .source {
    color: #616161;
    text-decoration: none;
    margin-bottom: 2rem;
    display: block;
  }
  #communication .container .flex-container .box:hover {
    color: #1A1A1A;
  }
}

#personal-life {
  width: 100%;
  padding: 60px 0;
  background-color: #482FF7;
}

#personal-life .container {
  width: 1120px;
  margin: 0 auto;
}

#personal-life .container .content-title {
  font-size: 2.9rem;
  color: #ffffff52;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

#personal-life .container .row {
  width: 100%;
  margin-bottom: 2rem;
}

#personal-life .container .content {
  background-color: #533AFF;
  width: 100%;
  color: #fff;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

@media only screen and (max-width: 1160px) {
  #personal-life {
    width: 100%;
    padding: 60px 0;
    background-color: #482FF7;
  }
  #personal-life .container {
    width: 500px;
    margin: 0 auto;
  }
  #personal-life .container .content-title {
    font-size: 2.9rem;
    color: #ffffff52;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #personal-life .container .row {
    width: 100%;
    margin-bottom: 2rem;
  }
  #personal-life .container .content {
    background-color: #533AFF;
    width: 100%;
    color: #fff;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 548px) {
  #personal-life {
    width: 100%;
    padding: 60px 0;
    background-color: #482FF7;
  }
  #personal-life .container {
    width: 360px;
    margin: 0 auto;
  }
  #personal-life .container .content-title {
    font-size: 2.9rem;
    color: #ffffff52;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
  }
  #personal-life .container .row {
    width: 100%;
    margin-bottom: 2rem;
  }
  #personal-life .container .content {
    background-color: #533AFF;
    width: 100%;
    color: #fff;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
  }
}

#conclusion {
  width: 100%;
  padding: 60px 0;
}

#conclusion .container {
  width: 850px;
  margin: 0 auto;
  border-left: 2px solid rgba(0, 0, 0, 0.145);
  border-right: 2px solid rgba(0, 0, 0, 0.145);
  padding: 0 40px;
}

#conclusion .container .text {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

@media only screen and (max-width: 1160px) {
  #conclusion {
    width: 100%;
    padding: 60px 0;
  }
  #conclusion .container {
    width: 500px;
    margin: 0 auto;
  }
  #conclusion .container .text {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 548px) {
  #conclusion {
    width: 100%;
    padding: 60px 0;
  }
  #conclusion .container {
    width: 360px;
    margin: 0 auto;
    border: none;
    padding: 0;
  }
  #conclusion .container .text {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
  }
}

#bibliography {
  width: 100%;
  padding: 60px 0;
  background-color: #F1F1F1;
}

#bibliography .container {
  width: 1120px;
  margin: 0 auto;
}

#bibliography .container ol {
  text-align: center;
  list-style-type: none;
}

#bibliography .container ol li {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin-bottom: .9rem;
  font-size: .7rem;
  word-break: break-all;
}

@media only screen and (max-width: 1160px) {
  #bibliography {
    width: 100%;
    padding: 60px 0;
    background-color: #F1F1F1;
  }
  #bibliography .container {
    width: 500px;
    margin: 0 auto;
  }
  #bibliography .container li {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin-bottom: .5rem;
    font-size: .7rem;
  }
}

@media only screen and (max-width: 548px) {
  #bibliography {
    width: 100%;
    padding: 60px 0;
    background-color: #F1F1F1;
  }
  #bibliography .container {
    width: 360px;
    margin: 0 auto;
  }
  #bibliography .container li {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin-bottom: .5rem;
    font-size: 7px;
    width: 100%;
  }
}

footer {
  width: 100%;
  padding: 20px 0;
  background-color: #482FF7;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

footer a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2px;
  text-underline-offset: 2px;
}

footer a:hover {
  text-decoration: none;
}

@media only screen and (max-height: 930px) {
  #adult-life {
    width: 100%;
    padding: 60px 0;
    background-color: #482FF7;
    min-height: 95vh;
  }
}
/*# sourceMappingURL=style.css.map */